!!! 5
html(data-ng-app='pivot')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
    title(ng-bind="'Pivot | ' + $root.title") Pivot | #{title}
    meta(name='description', content=description)
    meta(name='author', content='Pivot App, LLC')
    meta(name='viewport', content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0')

    block styles
      each style in styles
        link(href=style, rel="stylesheet")

    script(src='/build/polymer.concat.min.js')
    script.
      if (window.location.hash === '#_=_') window.location.hash = ''; var startTime = Date.now();window.env = !{JSON.stringify(env)};

  body
    block body
    block scripts
      each script in scripts
        script(src=script)

    polymer-element(name="p-apps-list")
      template: ul
        template(repeat="{{app in apps}}")
          content

      include scripts/apps-list.js

    polymer-element(name="p-app-link", attribute="app")
      template
        p sadfsdaf {{app.href}}

      include scripts/app-link.js


    polymer-element(name="p-root")
      template
        p-apps-list
          p-app-link(bind)

      include scripts/root.js



    p-root


    script.
      if (window.metric) metric({'measure': 'page_load_time', val: (Date.now() - startTime), units: 'ms'});
